@charset "utf-8";

@font-face {
    font-family: "TTBookendBatangR";
    src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/2410-2@1.0/TTBookendBatangR.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

/* common */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

h3 {
    font-size: 4.2vw;
    line-height: 5.2vw;
    font-weight: normal;
    font-style: italic;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: "PP Editorial New";
    background-color: #f6f6f6;
}

section .inner {
    padding-left: 5.2rem;
    padding-right: 5.2rem;
}

/* item_wrap */

.inner .item_wrap .item {
    width: 100%;
    background-color: #fff;
    padding: 3.2rem;
    height: 35vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.inner .item_wrap .item .text {
    font-family: "TTBookendBatangR";
    font-size: 1.8rem;
}

.inner .item_wrap .item .text p {
    font-size: 1.6rem;
    color: #777;
    padding: 1.2rem 0 1.2rem 0;
   
}

.inner .item_wrap .item .text strong {
    display: block;
    margin-top: 1.2rem;
}

.inner .item_wrap .item .image {
    width: 15vw;
    height: 13.5vw;
    margin: 0 auto;
}

.inner .item_wrap .item .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.inner .item_wrap .item .text2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.inner .item_wrap .item .text2 span {
    display: block;

    font-style: italic;
}

.inner .item_wrap .item .text2 div {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.inner .item_wrap .item .text2 div:hover {

    filter: brightness(0.4);
    transition: 0.2s;


}

.inner .item_wrap .item .text2 div img {
    width: 100%;
    height: 100%;
    display: block;
}

/* morebtn */
.morebtn {
    display: flex;
    gap: 0.2em;
    align-items: center;
    font-size: 2.2rem;
    cursor: pointer;
}


.morebtn img {
    width: 14px;
    height: 20px;
    display: block;
    margin-bottom: 2px;
}

/* header */
.header {
    padding: 0 5.2rem;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100%;
    font-family: "TTBookendBatangR";
}

.header .inner {

    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 46px;

}

.header .inner .hambuger {
    height: 26px;
    display: flex;
    gap: 20px;
    align-items: center;
}

.header .inner .hambuger>img {
    height: 16px;
    display: none;
}

.header .inner h1 {

    height: 26px;
}

.header .inner h1 a {
    display: block;
    height: 100%;
}

.header .inner h1 a img {
    height: 100%;
    display: block;
}

.header .inner .pc_nav {
    display: flex;
    align-items: center;

}

.header .inner .pc_nav ul {
    display: flex;

    position: relative;
    height: 100%;
    align-items: center;

}

.header .inner .pc_nav ul:last-child::before {
    content: "";
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    left: 0;
    width: 1px;
    height: 16px;
    background: #272727;

}

.header .inner .pc_nav ul li {
    margin-left: 16px;

    height: 24px;
    display: flex;
    align-items: center;
}

.header .inner .pc_nav ul li a {
    width: 24px;
    height: 24px;
}

.header .inner .pc_nav ul li a img {
    width: 100%;
    height: 100%;
}

.header .inner .pc_nav ul .search {
    margin: 0 16px 0 32px;
}

/* mainvisual */
.mainvisual {
    width: 100%;
    height: 100vh;

}

.slider,
.slider .imgs {
    width: 100%;
    height: 100%;

    position: relative;
}

.slider {
    height: 100%;

}

.slider .imgs {
    display: flex;
    overflow: hidden;
}

.slider .img {
    min-width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    position: absolute;
    left: 100%;
    animation: .6s cubic-bezier(0.645, 0.045, 0.355, 1) 0s left;
    animation-fill-mode: forwards;
    background-size: cover !important;
    background-position: 50% !important;
}

/* Change images here */
.slider .img:nth-of-type(1) {
    background: url("../img/background1.png") center center / cover no-repeat;
}

.slider .img:nth-of-type(2) {
    background: url("../img/background2.png") center center / cover no-repeat;
}

.slider .img:nth-of-type(3) {
    background: url("../img/background3.png") center center / cover no-repeat;
}

.slider .img:nth-of-type(4) {
    background: url("../img/background4.png") center center / cover no-repeat;
}


.dots {
    position: absolute;
    bottom: 40px;
    left: 5.2rem;

    display: flex;
    justify-content: center;

}

.dot {
    width: 48px;
    height: 48px;


    margin: 0 3px;
    cursor: pointer;
}

.dot:nth-child(1) {
    background: url("../img/pagebtn1.png") center center / cover no-repeat;
}

.dot:nth-child(2) {
    background: url("../img/pagebtn2.png") center center / cover no-repeat;
}

.dot:nth-child(3) {
    background: url("../img/pagebtn3.png") center center / cover no-repeat;
}

.dot:nth-child(4) {
    background: url("../img/pagebtn4.png") center center / cover no-repeat;
}

.active-dot {
    border: 1px solid #ffffff;
    cursor: default;
}

@keyframes leftNext {
    from {
        left: 100%;
    }

    to {
        left: 0;
    }
}

@keyframes leftCurr {
    from {
        left: 0;
    }

    to {
        left: -100%;
    }
}

@keyframes rightNext {
    from {
        left: -100%;
    }

    to {
        left: 0;
    }
}

@keyframes rightCurr {
    from {
        left: 0;
    }

    to {
        left: 100%;
    }
}

.itemwrap {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}

.itemwrap .left {
    width: 60%;
    padding: 6vw 0;
    padding-left: 5.2rem;
    background-color: #ffffffb6;

}

.itemwrap .left .top {
    width: 86%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.itemwrap .left .top>span {
    font-size: 1.5vw;
    color: #777777;
    font-style: italic;
}

.itemwrap .left .top>img {
    width: 32px;
    height: 32px;
    animation: lotate 2.5s infinite linear;
}

@keyframes lotate {
    0% {
        transform: rotate(0deg)
    }

    100% {
        transform: rotate(360deg)
    }
}

.itemwrap .left h2 {
    font-size: 3.6vw;
    font-weight: normal;
    margin: 0.4vw 0 40px 0;
}

.itemwrap .left h2 span {
    font-style: italic;
}


.itemwrap .right {
    position: relative;
    width: 40%;
}

.itemwrap .right img {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

}

.img:nth-child(1)>.itemwrap>.right>img {
    width: 10vw;
    margin-top: 2vw;

}

.img:nth-child(2) .itemwrap>.right>img {
    width: 12vw;
    margin-top: 8vw;

}

.img:nth-child(3) .itemwrap>.right>img {
    width: 24vw;
    margin-top: 10vw;

}

.img:nth-child(4) .itemwrap>.right>img {
    width: 15vw;
    margin-top: 2vw;
}

/* section01 */

.section01 .inner .background {
    width: 100%;
    height: 22vw;
    background: url(../img/section2-1.png) center center / cover no-repeat;
    border-radius: 0;
    margin: 17vw auto 10vw;
    position: relative;
    overflow: hidden;
    transition: width 0.15s ease-in;

}

.section01 .inner .background.active {
    width: 40vw;
    height: 22vw;
    border-radius: 20vw 20vw 0 0;

}

.section01 .inner .background .product {
    width: 13vw;
    height: 18vw;
    position: absolute;
    top: -3vw;
    left: 50%;
    transform: translate(-50%, 0);
}

.section01 .inner .background .product img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section01 .inner .text {
    text-align: center;

    position: relative;
    width: 100%;
    height: 40vw;
    overflow: hidden;
}

.section01 .inner .text p {
    font-size: 3rem;
    font-family: "PP Editorial New";
    margin-bottom: 2.4rem;
    line-height: 4.8rem;
}

.section01 .inner .text span {
    font-family: "TTBookendBatangR";
    font-size: 2.4rem;
    position: relative;
    display: block;
}

.section01 .inner .text span::after {
    content: "";
    position: absolute;
    width: 1px;
    background-color: #999;
    height: 40vw;
    top: 80px;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
}

/* section02 */

.section02 .inner h3 {
    text-align: center;
    margin: 12rem 0 12rem 0;
}

.section02 .inner ul {
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    margin-bottom: 2.4rem;
}

.section02 .inner ul li.on {
    color: #272727;
}

.section02 .inner ul li {
    color: #999;
}

.section02 .inner ul li img {
    width: 150px;
    height: 32px;
    display: block;
    object-fit: cover;
    margin-bottom: 12px;
    opacity: 0;
}

.section02 .inner ul li:hover img {
    opacity: 1;
}

.section02 .inner .item_wrap {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.section02 .inner .item2 {
    height: 500px;
    background: url(../img/background5.png) center center / cover no-repeat;
    margin-top: 2rem;
}

.section02 .inner .item2 p {
    height: 100%;
    font-family: "TTBookendBatangR";
    font-size: 2rem;
    line-height: 3.4rem;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0 8vw;
    text-align: center;
}

.section03 {
    padding: 18.3vw 0;
    background: rgb(238, 238, 238);
    background: linear-gradient(0deg,
            rgba(238, 238, 238, 1) 0%,
            rgba(255, 255, 255, 1) 24%,
            rgba(255, 255, 255, 1) 76%,
            rgba(238, 238, 238, 1) 100%);
    margin: 35.2rem 0;
    display: flex;
    justify-content: space-between;
}

.section03 .inner2 {
    padding-left: 5.2rem;
    padding-right: 18.5%;
}

.section03 .mySwiper {
    font-family: "TTBookendBatangR";
    position: relative;
    padding-bottom: 100px;
}

.section03 .mySwiper .swiper-wrapper .swiper-slide .image {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: calc(480 / 374 * 100%);
}

.section03 .mySwiper .swiper-wrapper .swiper-slide .image img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section03 .mySwiper .swiper-wrapper .swiper-slide strong {
    font-size: 2rem;
    display: block;
    padding: 3.2rem 0 1.6rem 0;
    line-height: 2.2rem;
}

.section03 .mySwiper .swiper-wrapper .swiper-slide p {
    line-height: 2.8rem;
    letter-spacing: -2px;
}

.section03 .mySwiper .swiper-wrapper .swiper-slide span:nth-child(4) {
    color: #777;
    font-family: "PP Editorial New";
    font-style: italic;
    position: absolute;
    left: 0;
    bottom: -100px;
}

/* section04 */
.section04 .inner .item_wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    row-gap: 16px;
}

.section04 .inner .item_wrap .title {
    width: calc(100% / 3 * 2 - 5px);
    height: 35vw;
    color: #fff;
    position: relative;
}

.section04 .inner .item_wrap .title video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.section04 .inner .item_wrap .title .text {
    padding: 4rem;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
    position: absolute;
}

.section04 .inner .item_wrap .title .text p {
    line-height: 1.4vw;
    font-size: 0.8vw;
}

.section04 .inner .item_wrap .title .text h4 {
    font-weight: normal;
    font-size: 4vw;
    font-style: italic;
    margin-bottom: 0.5vw;
}

.section04 .inner .item_wrap .item {
    width: calc(100% / 3 - 10px);
}

.section04 .inner .item_wrap .more {
    height: 35vw;
    width: calc(100% / 3 - 10px);
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: end;
}

.section04 .inner .item_wrap .more span:first-child {
    font-size: 3.5vw;
    color: #999999;
    font-style: italic;
    display: block;
    line-height: 2vw;
}

.section04 .inner .item_wrap .more span:nth-child(2) {
    font-size: 10vw;
    font-weight: 10vw;
    display: inline-block;
    margin-bottom: -3.4vw;
}

.section04 .inner .item_wrap .more img {
    height: 4vw;
    width: 4vw;
}

.section04 .inner .item_wrap .item:nth-child(even) {
    background: rgb(238, 238, 238);
    background: linear-gradient(180deg, rgba(238, 238, 238, 1) 0%, rgba(255, 255, 255, 1) 49%);
}

/* .section05 */
.section05 {
    padding: 18vw 0;
}

.h3event {
    font-style: normal;
    margin-bottom: 1.3vw;
    text-align: center;

}

.section05 span {
    opacity: .1;
}

/* section06 */
.section06 {
    position: relative;
    height: 50vw;

    color: #000;
    width: 100%;
    overflow: hidden;
}

.section06 .swiper-container {
    width: 100%;
    height: 30vw;
    margin-top: 2rem;
}

.section06 .swiper-slide {
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    font-family: "TTBookendBatangR";

    width: 60%;
    transform: scale(0.85);
    color: #fff;
   
}

.section06 .swiper-slide h5 {
    font-family: "PP Editorial New";
    font-style: italic;
    font-size: 4.4vw;
    font-weight: normal;
    margin-bottom: 0.5vw;

}

.section06 .swiper-slide>div {
    margin-top: 3vw;

}

.sec1 {
    background: url(../img/image2.png) center center / cover no-repeat;
}

.sec2 {
    background: url(../img/image1.png) center center / cover no-repeat;
}

.sec3 {
    background: url(../img/image3.png) center center / cover no-repeat;
}

.swiper-slide {
    position: relative;
}

.sec::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #0000005e;
    width: 100%;
    height: 100%;
    z-index: -1;
}


/* footer */
.footer {
    padding-left: 5.2rem;
    padding-right: 5.2rem;
    background-color: #fff;
    padding-top: 40px;
}

.footer ul {

    display: flex;

    flex-wrap: wrap;
    gap: 19px;
    row-gap: 14px;
    padding-bottom: 100px;
}

.footer ul li {
    width: calc(100% / 3 - 13px);


}

.footer ul li span {
    display: block;
    margin-left: 16px;
}

.footer ul li span:first-child {
    border: 1px solid #000;
    padding: 4px 0;
    padding-left: 16px;
    margin-left: 0;
    margin-bottom: 12px;
}

.footer ul li p {
    margin-left: 16px;
}

.policy {
    text-decoration: underline;
}

.policy {
    cursor: pointer;
}

.social {
    cursor: pointer;
}

@media screen and (max-width:960px) {

    /* common */
    h3 {
        font-size: 4rem;
        line-height: 5rem;

    }

    section .inner {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

    /* item_wrap */
    .inner .item_wrap .item {
        padding: 2.4rem;
        height: 38vw;
    }

    .inner .item_wrap .item .text {

        font-size: 1.4rem;
    }

    .inner .item_wrap .item .text p {
        font-size: 1.2rem;
        padding: 0.3rem 0 0.3rem 0;
    }

    .inner .item_wrap .item .text strong {
        display: block;
        margin-top: 0.5rem;
    }

    /* header */
    .header {
        padding: 0 1.6rem;

    }
    .header .inner {

        margin-top: 32px;
    
    }
    .header .inner .hambuger {
        height: 24px;

    }

    .header .inner .hambuger>img {
        display: block;
    }

    .header .inner h1 {

        height: 24px;
    }

    .header .inner .pc_nav>ul:nth-child(1) {
        display: none;
    }

    .header .inner .pc_nav ul:last-child::before {
        display: none;
    }

    .header .inner .pc_nav>ul:nth-child(2) li:nth-child(1),
    .header .inner .pc_nav>ul:nth-child(2) li:nth-child(2) {
        display: none;
    }

    /* mainvisual */
    .mainvisual {
        height: 760px;
    }

    .itemwrap .left .top>img {
        width: 20px;
        height: 20px;

    }

    .dots {
        left: 1.6rem;

    }

    .itemwrap .left {
        padding-left: 1.6rem;
    }

    /* section01 */
    .section01 .inner .background {
        margin: 20vw auto 5vw;
        width: 40vw;
        height: 22vw;
        border-radius: 20vw 20vw 0 0;
    }

    .section01 .inner .text {
        height: auto;
    }

    .section01 .inner .text p {
        font-size: 2.2rem;
        line-height: 3.4rem;
    }

    .section01 .inner .text span {

        font-size: 1.8rem;

    }

    /* section02 */
    .section02 .inner h3 {

        margin: 16rem 0 4rem 0;
    }

    .section02 .inner ul {
        font-size: 1.4rem;
        margin-bottom: 0.2rem;
        flex-wrap: wrap;
    }

    .section02 .inner ul li {
        margin-bottom: 8px;
    }

    .section02 .inner ul li img {
        display: none;
    }

    .section02 .inner .item_wrap p {
        display: none;
    }

    .section02 .inner .item2 {
        height: 300px;
    }

    .section02 .inner .item2 p {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }

    .section03 {
        padding: 18.3vw 0;
        margin: 20rem 0;
        flex-wrap: wrap;
    }

    .section03 .inner2 {
        width: 100%;
        padding-right: 0;
        text-align: center;
        margin-bottom: 50px;
    }

    .section03 .mySwiper {
        margin-left: 1.6rem;
        padding-bottom: 100px;
    }

    .section03 .mySwiper .swiper-wrapper .swiper-slide strong {
        font-size: 1.6rem;
        padding: 3.2rem 0 1rem 0;
    }

    .section03 .mySwiper .swiper-wrapper .swiper-slide p {
        line-height: 2.2rem;
        font-size: 1.4rem;
        letter-spacing: -1px;
    }

    .section03 .mySwiper .swiper-wrapper .swiper-slide span:nth-child(4) {
        font-size: 1.4rem;
    }

    .section04 .inner .item_wrap .title {
        width: 100%;
        height: 30rem;

    }

    .section04 .inner .item_wrap .title .text p {
        line-height: 2rem;
        font-size: 1.3rem;

    }

    .section04 .inner .item_wrap .title .text h4 {
        font-size: 4rem;
    }

    .section04 .inner .item_wrap .item {
        width: calc(100% / 2 - 10px);
    }

    .section04 .inner .item_wrap .more {
        height: 20vw;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    .section05 .h3event span {
        opacity: 100 !important;
    }

    .section06 .swiper-container {
        width: 100%;
        height: 40vw;
        margin-top: 2rem;
    }

    .section06 .swiper-slide {
        width: 80%;
    }

    .section06 .swiper-slide p {
        font-size: 1.4rem;
    }

    .section06 .swiper-slide h5 {
        font-size: 4rem;
    }

    /* footer */
    .footer {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
        font-size: 1.4rem;
    }

    .footer ul li {
        width: calc(100% / 2 - 10px);
    }

    .footer ul li span {

        margin-left: 10px;
    }

    .footer ul li span:first-child {

        padding-left: 10px;

    }

    .footer ul li p {
        margin-left: 10px;
    }

}